*
	{
		margin: 0;
		padding: 0;
		transition: all 0.5s;
	}

body
	{
		background-color: rgba(0,0,0,0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		height:100vh;
	}

section
	{
		width: 400px;
		height: 400px;
		border-radius: 12px;
		background-color: white;
		padding: 10px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 0 15px 8px rgba(0,0,0,0.15);
	}

section > div
	{
		margin: 10px 0;
		display: flex;
	}

div > input
	{
		height: 50px;
		font-size: 1em;
		width: 100%;
		text-align: center;
	}

div.entrada
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

div.entrada > input
	{
		width: 43%;
	}

div.operaciones
	{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		justify-content: space-around;
		align-items: center;
	}

button.boton
	{
		border-radius: 10px;
		border:none;
		min-width: 150px;
		min-height:50px;
		padding: 10px;
		margin:10px;
		background-color: rgba(35, 46, 92, 1);
		color: white;
		font-size: 2em;
	}

button.boton:hover
	{
		background-color: rgba(86, 200, 186, 1);
		color: rgba(35, 46, 92, 1);
	}